## Adjust as needed with your values

export BW_SESSION=$(bw unlock --raw)
export TWITCH_CLIENT_ID=$(bw get username twitch-exporter)
export TWITCH_CLIENT_SECRET=$(bw get password twitch-exporter)
export TWITCH_CHANNEL_NAME=javagrunt
export TWITCH_CLIENT_REDIRECT_URL=http://localhost:8080
export TWITCH_ACCESS_TOKEN=$(bw get password twitch-exporter-token)